html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

#editor {
    flex-grow: 1;
    border: solid 1px gray;
    overflow: hidden;
}